.contentlist { width:1920; height:1080; margin: 0 auto; vertical-align: center;}

.main{background-color: #f7f7f7; width:1920; height: 514px; z-index: 2;} 

.title{ color: #f9c021; font-size: 40px; font-family: 'Black Han Sans'; height:160px; vertical-align:middle; }

.title li { display:inline-block; margin-right:60px; }

.title .logo { margin-right:475px; margin-left: 350px;}


.titles {
  font-size: 20px;
  font-weight: 700;
  display: inline-block;
  cursor: pointer;
  font-family: 'Gothic A1' ;
  line-height:165px; box-sizing:border-box;
  vertical-align:middle;
}

/* title1 */
.title1 {
  color: #8b8b8b;
}
.title1:hover {
  color: #3399ff;
}

/* title2 */
.title2 {
  color: #8b8b8b;
}

.title2:hover {
  color: #3399ff;
}

/* title3 */
.title3 {
  color: #3399ff;
}

/* title4 */
.title4 {
  color: #8b8b8b;
}

.title4:hover {
  color: #3399ff;
}


.button {
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 45px 45px 62px 62px;
  margin-left: 390px;
  margin-top: 10px;
  box-shadow: 0 10px #ccc;
  width: 100px;
  height: 125px;
}

.button:active {
  box-shadow: 0 6px #bbb;
  transform: translateY(4px);
}

.talks{position: relative;}
.talk_1{position: absolute; margin-left: 590px; margin-top: -130px;}
.talk{position: absolute; margin-left: 590px; margin-top: -130px; }

.btns{position: relative;}
.btnback{opacity: 0.35; position: absolute; width: 1950px; height: 564px;}

.btn01{position: absolute; margin-top: 60px; margin-left: 500px;}
.btn02{position: absolute; margin-top: 210px; margin-left: 500px;}
.btn03{position: absolute; margin-top: 360px; margin-left: 500px;}

.



